@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&display=swap');

@keyframes fadeIn {
  0% {
      opacity: 0;
      
    }
   
    100% {
      opacity: 1;
      
    }
}

* {
  color: white;
}

.boldBtn {
  font-weight: bold;
}

.customBtn {
  position: relative;
  width: 25%;
  font-size: 1.2em;
  font-weight: bold;
  z-index: -1;
}

.fadeOutDiv{
  opacity:0;
  width:0;
  height:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.fadeInDiv{
  opacity:1;
  width:100px;
  height:100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;

}

* {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
background-size: cover;
background-repeat: no-repeat;
background-attachment: scroll;
overflow: hidden;

}

#wrapper {

  overflow: scroll;

}

.container {
  display: inline-block;
  width: 80%;
 
}

.divdiv {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  padding: 1rem;

}

.divdiv2 {
  display: inline-block;

  width: 50%;
  padding: 0rem;
}

.leftDiv {
  float: left;
  width: 100%;
}

.rightDiv {

  width: 100%;
}

.pageContainer {
  width: auto;
  padding: 0;
  margin: 0;
  max-width: 80%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  -webkit-animation: 3s ease 0s normal forwards 1 fadeIn;
    animation: 3s ease 0s normal forwards 1 fadeIn;
    opacity: 0;
  
}

.logo {
  width: 30%;
}

.square {
  margin-top: .5em;
  width: 70%;
  margin-bottom: .5em;
}


h1 {
  font-size: 4em;
  margin: 0px;
}

p {
  font-size: 1.5em;
  margin: 0px;
}

h2 {
  font-size: 1.5em;
  margin: 0px;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  margin-top: .8em;
  font-size: 1.3em;
}

.front { 
  z-index: 999;
}

.invitationFooter {
  width: 10%;
}

.footer {
  position: absolute;
  width: 7%;
  bottom: .5em; 
  left: 50%;
  margin-bottom: 1.5em;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: .7;
}

label {
  color: transparent;
}

.form-control:focus{
  border-color: white;
  box-shadow: 0 0 0 0.1rem white;
}

.btn-light:hover {
  color: white;
  border-color: white;
  background-color: transparent;
  box-shadow: 0 0 0 0.1rem white;
}

.btn-light:active {
  border-color: white;
  background-color: transparent;
  box-shadow: 0 0 0 0.1rem white;
}

.btn-light:focus {
  border-color: white;
  box-shadow: 0 0 0 0.1rem white;
}


.btn-light {
  color: white;
  border-color: white;
  background-color: rgba(255,255,255,0.2);
}

.form-control {
  width: 20% !important;
}

.input-group > .form-control, .input-group > .form-select {
  flex: none;
  width: 30%;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.2);
  color: white;
  text-align: center
  
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 999;
}

.verticalrules-center {
  margin: 0;
  margin-top: 10em;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 999;
}

.verticalish-center {
  margin: 0;
  margin-top: 1.5em;
  position: absolute;
  top: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  z-index: 999;
}

.invitation {
  margin: 0;
  position: absolute;
  top: 5%;
  height: 100%;
  overflow-y: scroll;
  z-index: -1;
}

#finalFantasy {
  z-index: 999;
  pointer-events: none;
}



@media only screen and (min-width: 0px) and (max-width: 900px)
{

  .verticalrules-center {
    margin: 0;
    margin-top: 4em;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    z-index: 999;
  }

  .firstLine {
    font-size: 1em;
  }

  .secondLine {
    font-size: 1em;
  }

  h3 {
    font-weight: bold;
    margin-top: .8em;
    font-size: .8em;
  }

  .customBtn {
    width: 20%;
    font-size: .8em !important;
  }


  .form-control {
    width: 50% !important;
  }
  .pageContainer {
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    height: auto;
    -webkit-animation: 3s ease 0s normal forwards 1 fadeIn;
      animation: 3s ease 0s normal forwards 1 fadeIn;
    
  }
  
  .logo {
    width: 50%;
  }

  .square {
    width: 50%;
  }
  
  h1 {
    font-size: 2em;
  }
 
  p {
    font-size: 1.25em;
  }

  h2 {
    font-size: 1.25em;
  }

  .invitationFooter {
    width: 30%;
  }

  .footer {
    position: absolute;
    opacity: .5;
    width: 20%;
    bottom: 0px; 
    left: 50%;
    margin-bottom: 1.5em;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
  }

  .container {
    display: inline-block;
    width: 100%;
   
  }
  
  .divdiv {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0;
  }


}



/*FOG ANIMATION*/

html, body {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  background: rgba(0, 0, 0, 1);
  overflow-x: hidden; 
}

/* ---------- Fog ---------- */
.fogwrapper {
  
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
}
#foglayer_01, #foglayer_02, #foglayer_03 {
  height: 100vh;
  /*height: 100%;*/
  
  position: absolute;
  width: 200%;
}
#foglayer_01 .image01, #foglayer_01 .image02,
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
}
#foglayer_01 {
  -webkit-animation: foglayer_01_opacity 40s linear infinite, foglayer_moveme 5s linear infinite;
  -moz-animation: foglayer_01_opacity 40s linear infinite, foglayer_moveme 45s linear infinite;
  animation: foglayer_01_opacity 40s linear infinite, foglayer_moveme 45s linear infinite;
}
#foglayer_02, #foglayer_03 {
  -webkit-animation: foglayer_02_opacity 51s linear infinite, foglayer_moveme 43s linear infinite;
  -moz-animation: foglayer_02_opacity 51s linear infinite, foglayer_moveme 43s linear infinite;
  animation: foglayer_02_opacity 51s linear infinite, foglayer_moveme 43s linear infinite;
}

/* ---------- Moving Fog ---------- */
/*
  'size: cover' || 'size: 100%'; results remain the same
  'attachment: scroll' can be added or removed; results remain the same
  'attachment: fixed' causing unexpected results in Chrome
  'repeat-x' || 'no-repeat'; results remain the same
*/ 
#foglayer_01 .image01, #foglayer_01 .image02 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png") center center/cover repeat transparent;
}
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02{
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png") center center/cover repeat transparent;
}
/*https://media.istockphoto.com/photos/rows-of-shelves-picture-id1138429558?k=20&m=1138429558&s=612x612&w=0&h=SEojoXUHl6Di4plxrDgH28aY9J1yCTxFxH5uIlibDeo=*/
/* ---------- Keyframe Layer 1 ---------- 
0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }

*/
@-webkit-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
@-moz-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
@-o-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
@keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
/* ---------- Keyframe Layer 2 ---------- */
@-webkit-keyframes foglayer_02_opacity {
  0% { opacity: 1 }
  27% { opacity: .8; }
  52% { opacity: .6; }
  68% { opacity: .8; }
  100% { opacity: 1; }
}
@-moz-keyframes foglayer_02_opacity {
  0% { opacity: 1 }
  27% { opacity: .8; }
  52% { opacity: .6; }
  68% { opacity: .8; }
  100% { opacity: 1; }
}
@-o-keyframes foglayer_02_opacity {
  0% { opacity: 1 }
  27% { opacity: .8; }
  52% { opacity: .6; }
  68% { opacity: .8; }
  100% { opacity: 1; }
}
@keyframes foglayer_02_opacity {
  0% { opacity: 1 }
  27% { opacity: .8; }
  52% { opacity: .6; }
  68% { opacity: .8; }
  100% { opacity: 1; }
}
/* ---------- Keyframe Layer 3 ---------- */
@-webkit-keyframes foglayer_03_opacity {
  0% { opacity: 1 }
  27% { opacity: .8; }
  52% { opacity: .4; }
  68% { opacity: .8; }
  100% { opacity: 1; }
}
@-moz-keyframes foglayer_03_opacity {
  0% { opacity: 1 }
  27% { opacity: .8; }
  52% { opacity: .4; }
  68% { opacity: .8; }
  100% { opacity: 1; }
}
@-o-keyframes foglayer_03_opacity {
  0% { opacity: 1 }
  27% { opacity: .8; }
  52% { opacity: .4; }
  68% { opacity: .8; }
  100% { opacity: 1; }
}
@keyframes foglayer_03_opacity {
  0% { opacity: 1 }
  27% { opacity: .8; }
  52% { opacity: .4; }
  68% { opacity: .8; }
  100% { opacity: 1; }
}
/* ---------- Keyframe moveMe ---------- */
@-webkit-keyframes foglayer_moveme {
  0% { left: 0; }
  50% { left: -50%; }
  100% { left: 0; }

}
@-moz-keyframes foglayer_moveme {
  0% { left: 0; }
  50% { left: -50%; }
  100% { left: 0; }
}
@-o-keyframes foglayer_moveme {
  0% { left: 0; }
  50% { left: -50%; }
  100% { left: 0; }
}
@keyframes foglayer_moveme {
  0% { left: 0; }
  50% { left: -50%; }
  100% { left: 0; }
}


    #foglayer_01 .image01, #foglayer_01 .image02,
    #foglayer_02 .image01, #foglayer_02 .image02,
    #foglayer_03 .image01, #foglayer_03 .image02 {
      width: 100%;
    }
  

  .scrolling-image-container {
    overflow: show;
  }
  


  @keyframes slide {
    0% {
      transform: translate(90);
    }
    100% {
      transform: translate(-612px); /* The image width */
    }
  }

  .error
  {
    width: inherit;
    animation: shake 0.2s ease-in-out 0s 2;
    
  }

@keyframes shake {
0% { margin-left: 0rem; }
25% { margin-left: 0.5rem; }
75% { margin-left: -0.5rem; }
100% { margin-left: 0rem; }
}
